<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body table-responsive-sm">
        <h4 class="card-title">Income/Expenses detail</h4>

        <table class="table table-striped">
          <thead>
            <tr>
              <th>
                <button class="btn btn-sm btn-outline-dark" (click)="sortByType('description')">
                  Description
                  <i class="fa" [ngClass]="{'fa-arrow-down': !sortDescriptionArrow,'fa-arrow-up': sortDescriptionArrow }"></i>
                </button>
              </th>
              <th>
                <button class="btn btn-sm btn-outline-dark" (click)="sortByType('amount')">
                  Amount
                  <i class="fa" [ngClass]="{'fa-arrow-down': !sortAmountArrow,'fa-arrow-up': sortAmountArrow }"></i>
                </button>
              </th>
              <th>
                <button class="btn btn-sm btn-outline-dark" (click)="sortByType('type')">
                  Type
                   <i class="fa" [ngClass]="{'fa-arrow-down': !sortTypeArrow,'fa-arrow-up': sortTypeArrow }"></i>
                </button>
              </th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let item of incomeExpenses | sortIncomeExpenses:sort:sortType"
                [ngClass]="{'table-danger': item.type === 'expenses', 'table-success' : item.type === 'income'}">
              <td>{{ item.description }}</td>
              <td>{{ item.amount | currency: '$' }}</td>
              <td>{{ item.type }}</td>
              <td>
                <button type="button"
                        (click)="delete(item)"
                        class="btn btn-danger btn-sm">
                  <i class="fa fa-trash mr-1"></i>Delete
                </button>
              </td>
            </tr>
          </tbody>

        </table>


      </div>
    </div>
  </div>
</div>
