<div *ngIf="loading" class="alert alert-info d-flex justify-content-center">
  <h4 class="alert-heading m-0">Loading</h4>
  <span><i class="ml-3 fa fa-sync fa-spin fa-2x"></i></span>
</div>

<div *ngIf="error" class="alert alert-danger">
  <h4 class="alert-heading m-0">Error</h4>
  <p>{{ error.name }}</p>
  <p>{{ error.url }}</p>
  <p>{{ error.message }}</p>
</div>

<div *ngIf="!loading" class="card-columns">
  <a *ngFor="let user of users"
    href="javascript:void(0)"
    [routerLink]="['/user', user.id]" routerLinkActive="router-link-active"
    class="card">
    <img [src]="user.avatar" class="card-img-top" alt="{{ user.first_name }} {{ user.last_name }}">
    <div class="card-body">
      <h5 class="card-title">{{ user.first_name }} {{ user.last_name }}</h5>
      <p class="card-text">{{ user.email }}</p>
      <p class="card-text">
        <span class="text-muted">ID: {{ user.id }}</span>
      </p>
    </div>
  </a>
</div>
