<div class="container">
  <div class="row text-center">
    <div class="col-12">
      <h1>Counter</h1>
      <h2>{{ counter }}</h2>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-12">
      <div class="btn-group">
        <div class="btn btn-primary" (click)="increase()">Increase by 1</div>
        <div class="btn btn-secondary" (click)="decrease()">Decrease by 1</div>
      </div>
    </div>
    <div class="col-xs-12 mt-3">
      <p>The counter data is passed and received using traditional decorators like input and output respectively</p>
    </div>
  </div>

  <hr>

  <div class="row text-center">
    <div class="col-12">
      <app-child [counter]="counter" (updateCounter)="counter = $event"></app-child>
    </div>
  </div>

  <hr>

  <div class="row text-center">
    <div class="col-12">
      <app-ngrx-example></app-ngrx-example>
    </div>
  </div>

</div>
